<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>User Name</th>
    <th>Email Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% users.forEach(function(user){ %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><a href="/public/user/show/<%= user.id %>" class="btn btn-primary">Show</a></td>
    <td><a href="/public/user/edit/<%= user.id %>" class="btn btn-warning">Edit</a></td>
    <td><a href="/public/user/destroy/<%= user.id %>" class="btn btn-danger">Delete</a></td>
  </tr>
  <% }) %>
  </tbody>
</table>
