<table class="table table-list table-hover table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>User Name</th>
    <th>Email Name</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="100%">
      <a href="/public/user/gen" class="btn btn-success pull-right" style="margin-right: 10px;">Generate Test Data</a>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <% users.forEach(function(user){ %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><a href="/public/user/show/<%= user.id %>" class="btn btn-primary">Show</a></td>
    <td><a href="/public/user/edit/<%= user.id %>" class="btn btn-warning">Edit</a></td>
    <td>
      <a href="/public/user/destroy/<%= user.id %>" class="btn btn-danger"
         onclick="return confirm('Bạn có muốn xóa không?');">Delete</a>
    </td>
  </tr>
  <% }) %>
  </tbody>
</table>

